@model ShadowOfHisWings.Models.Home

@{
    ViewBag.Title = Model.Title;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
</head>
<body>
    <div class="bg">
        <div class="container vertical-center">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-frame">
                        <h2 class="display-4 text-center">@Model.Title</h2>
                        <p class="lead text-center">@Model.AboutInfo</p>
                        <div class="btn-container text-center">
                            <a href="@Url.Action("About", "Home")" class="btn btn-custom">About Us</a>
                            <a href="@Url.Action("Index", "Events")" class="btn btn-custom">Events</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <div class="text-frame text-center">
                        <h2>Our Mission</h2>
                        <p>At Shadow of His Wings, our mission is to provide a safe and nurturing environment for individuals to overcome addiction through faith-based recovery programs. We believe in the transformative power of God's love and the strength of a supportive community.</p>
                        <div class="btn-container text-center">
                            <a href="@Url.Action("Index", "Contact")" class="btn btn-custom">Contact Us</a>
                            <a href="@Url.Action("Index", "Donation")" class="btn btn-custom">Donate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
